html, body{
	margin: 0;
	padding: 0;
	background-image: url('https://static.vecteezy.com/system/resources/previews/000/088/208/non_2x/hand-drawn-easter-egg-background-vector.jpg');
}

fieldset{
		margin: 20px;
		background-color: hsla(0,100%,100%,0.8);
		border-radius: 25px;
		font-family: 'Helvetica Neue', sans-serif;
		font-size: 18px;
}

.descricao{
	display: inline-block;
	width: 200px;
}

.campo{
	margin: 10px 0 10px 0;
}

input[type="text"]{
	height: 30px;
	width: 400px;
}

textarea {
	height: 150px;
	width: 600px;
}

input[type="submit"]{
	position: absolute;
	left: 20px;
	height: 40px;
	width: 150px;
	margin-bottom: 20px;
	display: none;
}

input[type="submit"]:hover{
	cursor: pointer;
}

.item-div > *{
	margin: 0 5px 10px 5px;
}